:root {
  --neutral-400: #ffffff;
  --neutral-600: #e5e5e5;
  --primary: #fca311;
  --secondary-400: #14213d;
  --secondary-600: #000000;
}

/* [data-theme="dark"] {
  --neutral-400: #000000;
  --neutral-600: #14213d;
  --secondary-400: #ffffff;
  --secondary-600: #e5e5e5;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--neutral);
}

a {
  text-decoration: none;
}

nav {
  border-radius: 10px;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.first {
  color: var(--primary);
}

.second {
  color: var(--secondary-400);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: auto 10px;
}

.links {
  display: flex;
  gap: 1rem;
}

.links ul {
  list-style: none;
  display: flex;
}

.links li {
  font-weight: 600;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  color: var(--secondary-600);
}

.links li:hover {
  background-color: var(--primary);
  color: var(--secondary-400);
  transition-duration: 0.5s;
}

.theme-changer {
  margin: auto 5px;
}

.theme-changer img {
  cursor: pointer;
  height: 2rem;
  aspect-ratio: 1;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

#hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photo-container {
  display: flex;
  justify-content: center;
}

#profile-pic {
  margin: 2rem 0;
  height: 350px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid var(--secondary-600);
}

#profile-pic:hover {
  box-shadow: 0 0 10px 5px var(--primary);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
}

.btn-container {
  display: flex;
  gap: 10px;
}

.desc-btn {
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--secondary-400);
  background-color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}

.desc-btn:hover {
  box-shadow: 5px 5px var(--secondary-600);
}
